div.roig {
    color: red;
    background-color: aquamarine;
}

div.verd {
    color: green;
    background-color: rgb(214, 214, 83);
}

section.carta {
    color: red;
    background-color: green;
}

span.Baltasar {
    color: blue;
}